<%= simple_form_for(@link, html: { class: "form-inline text-center" }) do |f| %>
<%= f.error_notification %>

<%= f.input :long_url, label: false, placeholder: "Your URL" do %>
<div class="input-group">
  <div class="input-group-addon">http://</div>
  <%= f.input_field :long_url, class: "form-control" %> 
</div>
<% end %>

<%= f.button :submit, value: "Shorten URL", class: "bnt btn-primary" %>
<% end %>
